services:
  backend:
    build: ./packages/backend
    container_name: bun-backend
    restart: always
    ports:
      - "8080:3000"
    env_file:
      - .env
    environment:
      - DATABASE_URL=http://libsql-server:8080
    depends_on:
      - libsql-server

  libsql-server:
    image: ghcr.io/tursodatabase/libsql-server:latest
    container_name: libsql-server
    restart: always
    ports:
      - "127.0.0.1:8081:8080" # We only need the HTTP port now
    volumes:
      - libsql-data:/var/lib/sqld
    environment:
      - SQLD_NODE=primary


volumes:
  libsql-data: